<div class="grid-container">
    <div class="grid-block">
       <div class="grid-content text-center">
           <h1 class="text-center">Welcome to Starterkit!</h1>
           <hr>
            <p class="lead text-left"><strong>Welcome to the new Starterkit by Digitalz.</strong> It is a Wordpress Theme using Foundation for Apps by Zurb to explore new ways of design, also AngularJS and the Wordpress JSON API are solid foundations to build your web applications easier and faster.</p>
            <a href="git clone https://leodsidz@bitbucket.org/leodsidz/starterkit.git" class="hollow button">Download <br><small>Starterkit Version 2.0.0</small></a>
       </div>
    </div>
    
    <div class="text-center">
        <p><h4>Informations</h4> <strong>DIGITALZ</strong> is a web digital company, working with clients from Brasil and France.</p>
    </div>
    
    <hr>
    
    <h3 class="text-center">Get started</h3>
    <div zf-tabs="" class="text-center">
        <div zf-tab="" title="Step 1">
            <p>Download or Clone the repo</p>
            <code>clone https://leodsidz@bitbucket.org/leodsidz/starterkit.git</code>
        </div>
        <div zf-tab="" title="Step 2">
            <p>Install the dev dependencies</p>
            <code>npm install</code>
        </div>
        <div zf-tab="" title="Step 3">
            <p>Initiate the assets files (scss compiling, js concat, minifying everything and more...)</p>
            <code>gulp</code>
        </div>
        <div zf-tab="" title="Step 4">
            <p>Live Rebuilding of the assets</p>
            <code>gulp watch</code>
        </div>
    </div>
    
    <hr>
    <div class="grid-block large-up-2">
        <div class="medium-6 grid-content">
            <h4>Contributions</h4>
            <ul class="no-bullet">
                <li>Big thanks to ZURB to develop this awesome framework</li>
                <li>The AngularJS Team for developping an amazing product</li>
                <li>The Wordpress Team and the idea of API to change the way we are imagining the web</li>
                <li>Starterkit inspired by JointsWP</li>
                <li>Don't hesitate to contact me if you got any questions.</li>
            </ul>
        </div>

        <div class="medium-6 grid-content">
            <h4>Who do I talk to?</h4>
            <div class="card">
                <img src="http://lorempixel.com/g/300/300">
                <div class="card-divider"></div>
                <div class="card-section">
                    <p>Leonardo da Silva - BR/FR</p>
                    <p><a href="mailto:digitalz4k@gmail.com">digitalz4k@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>

</div>