<h2>{{demoTitle}}</h2>
   <div class="row">
    <a href="#" zf-open="panelName" class="button">Open Panel</a>
    <a href="#" zf-close="panelName" class="button">Close Panel</a>
    <a href="#" zf-toggle="panelName" class="button">Toggle Panel</a>

    <div zf-panel="" id="panelName" position="bottom">
    <a zf-close="" class="button">Close Panel</a>
    </div>


    <a class="button" href="#" zf-open="my-notify">Static Notification</a>

    <zf-notification-static id="my-notify" title="My static notification" image="http://placehold.it/40x40" position="bottom">
    <p>This notification is static, it works similarly to a programmatic with some subtle differences.</p>
    </zf-notification-static>


    <h4>Buttons</h4>
    <a class="button" href="#">Primary Color</a>
    <a class="secondary button" href="#">Secondary Color</a>
    <a class="success button" href="#">Success Color</a>
    <a class="alert button" href="#">Alert Color</a>
    <a class="warning button" href="#">Warning Color</a>
    <a class="info button" href="#">Info Color</a>
    <a class="dark button" href="#">Dark Color</a>


    <h4>Buttons sizes</h4>
    <a class="tiny button" href="#">Tiny Button</a>
    <a class="small button" href="#">Small Button</a>
    <a class="button" href="#">Default Button</a>
    <a class="large button" href="#">Large Button</a>
    <a class="expand button" href="#">Expand Button</a>


    <h4>Button disabled</h4>
    <a href="#" class="button disabled">Disabled Button</a>


    <h4>Hollow buttons</h4>
    <a href="#" class="hollow button">Hollow Button</a>
    <a href="#" class="alert hollow button">Hollow Alert Button</a>
    <a href="#" class="success hollow button">Hollow Success Button</a>


    <h4>Cards</h4>
    <div class="small-3 columns">
        <div class="card">
            <img src="http://placekitten.com/g/400/200">
            <div class="card-divider">
                This is a header
            </div>
            <div class="card-section">
                <h4>Look at This Swag Card</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem odio deleniti provident aliquam qui magnam aspernatur necessitatibus.</p>
            </div>
        </div>    
    </div>
    
    <h4>Modal</h4>
    <a class="button" href="#" zf-open="advancedModal">Open modal</a>
    <div zf-modal="" animation-in="slideInRight" animation-out="slideOutUp" id="advancedModal" class="collapse">
    <div class="grid-block vertical">
    <div class="primary title-bar">
    <div class="center title">Title Bar</div>
    <span zf-close="" class="left"><a>Close</a></span>
    <span zf-close="" class="right"><a>Done</a></span>
    </div>
    <div class="grid-content padding" style="padding-top: 1rem;">
    <p>
    <img src="http://lorempixel.com/g/600/400">
    </p>
    <a zf-close="" class="button">OK</a>
    <a zf-close="" class="button">Cancel</a>
    </div>
    </div>
    </div>
</div>
